.container {
    max-width: 1350px;
    margin: 0 auto;
}

.main {
    position: relative;
}

/*header*/
.header {
    position: fixed;
    top: 32px;
    left: 50%; /* Сдвигаем хедер на 50% вправо */
    transform: translateX(-50%); /* Возвращаем назад на 50% своей ширины */
    width: 1350px; /* Фиксированная ширина */
    backdrop-filter: blur(20.899999618530273px);
    background: rgba(247, 219, 178, 0.75);
    border-radius: 9999px;
    border: 1px solid rgba(251, 218, 171, 0.5);
    z-index: 9999;
}

.header .container {
    width: 100%; /* Ширина контейнера равна ширине хедера */
    padding: 16px 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 39px;
}

.header-list a {
    opacity: 0.4;
    font-weight: 300;
    font-size: 18px;
    line-height: 94%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #281500;
}

.header-list a:hover {
    opacity: 1;
    font-weight: 600;
    color: #281500;
}

.header-info {
    display: flex;
    gap: 25px;
    align-items: center;
}

.header-social {
    display: flex;
    gap: 25px;
}

.header-info__link {
    position: relative;
    padding: 12px 19px 12px 38px;
    background: #281500;
    width: 159px;
    font-weight: 300;
    font-size: 18px;
    line-height: 94%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #f1d9b7;
    border-radius: 54px;
}

.header-info__link::before {
    content: url("images/tel.svg");
    position: absolute;
    left: 15px;
    top: 12px;
}

.header-info__lang {
    font-weight: 300;
    font-size: 16px;
    line-height: 94%;
    letter-spacing: 0.02em;
    color: #281500;
    padding-right: 11.5px;
    position: relative;
    cursor: pointer;
}

.header-info__lang::after {
    content: url("images/arr.svg");
    right: 0;
    top: -3px;
    position: absolute;
}


/*main*/

.main {
    background-image: url("images/main.png");
    max-width: 1840px;
    height: 1078px;
    margin: 0 auto 0;
    border-bottom-left-radius: 54px;
    border-bottom-right-radius: 54px;
    background-size: cover;
    width: 100%;
}

.main-title {
    margin: 0 auto;
    font-weight: 400;
    font-size: 72px;
    line-height: 94%;
    text-align: center;
    color: #fefbf7;
    max-width: 1044px;
    padding-top: 752px;
}

.main-link {
    margin: 48px auto 0;
    display: block;
    font-weight: 300;
    font-size: 25px;
    line-height: 94%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fefbf7;
    backdrop-filter: blur(20.899999618530273px);
    background: rgba(255, 233, 200, 0.4);
    padding: 25px 40px;
    border: 1px solid rgba(254, 251, 247, 0.39);
    border-radius: 9999px;
    width: 225px;
}

/*about*/

.about-desk {
    margin-top: 167px;
}

.about-mob {
    display: none;
}

.about-desk .container {
    padding: 0 66px 0 67px;
    display: flex;
    gap: 60px;
    z-index: 10;
    position: relative;
}

.about-img__1 {
    position: absolute;
    left: 608px;
    bottom: -134px;
    z-index: 1;
    opacity: 0.8;

}

.about-img__2 {
    position: absolute;
    left: -615px;
    top: -170px;
    z-index: 1;
    opacity: 0.8;

}

.about-content {
    z-index: 10;
}

.about-img__wrapper {
    z-index: 10;
}

.about-title {
    font-family: "Cormorant", serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 94%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #281500;
    padding-left: 5px;
}

.about-desc {
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #281500;
    margin-top: 30px;
    padding-left: 10px;
}

.about-logo {
    padding-left: 10px;
    margin-top: 30px;
}

.about-img {
    display: flex;
    gap: 60px;
    margin-top: 44px;
}

/*services*/

.services {
    margin-top: 180px;
}

.services-title {
    font-family: "Cormorant", serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 94%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #281500;
}

.services-list {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px 62px;
}

.services-link {
    text-transform: uppercase;
    position: relative;
    padding-left: 10px;
    /*display: flex;*/
    align-items: start;
    gap: 10px; /* Расстояние между текстом и стрелкой */
    font-weight: 400;
    font-size: 25px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #281500;
    max-width: 388px;
    margin-top: 25px;
    text-decoration: none;
}

.services-link a {
    color: inherit;
    text-decoration: none;
}

.services-link a:hover {
    color: #ab7631;
}

.services-link svg {
    position: absolute;
    top: 0;
    right: 0;
    transition: stroke 0.3s ease;
}

.services-link:hover svg path {
    stroke: #ab7631; /* Изменение цвета стрелки при наведении */
}

.services-link:hover::before {
    content: '';
    position: absolute;
    width: 44px; /* Размер круга */
    height: 44px; /* Размер круга */
    background-color: rgba(171, 118, 49, 0.2); /* Цвет круга */
    border-radius: 50%; /* Делаем круг */
    top: 10px;
    right: -32px;
    transform: translate(-50%, -50%); /* Центрируем круг */
    z-index: -1; /* Помещаем круг под стрелку */
}

/*info*/

.info-desk {
    margin-top: 185px;
}

.info-mob {
    display: none;
}

.info-wrapper {
    display: flex;
    gap: 106px;
    padding-right: 40px;
}

.info-img__text {
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #ab7631;
    opacity: 0.7;
    margin-top: 32px;
    padding-left: 38px;
}

.info-content {
    padding-right: 18px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-weight: 400;
    font-size: 21px;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: #281500;
}

.info-content__title {
    margin-top: 53px;
}

.info-content__line {
    margin-top: 102px;
    margin-left: 99px;
    position: relative;
    width: 600px;
    height: 1px;
    background: #f9ebd8;
}

.info-content__line::before {
    content: url("images/cav.svg");
    position: absolute;
    left: -99px;
    top: -32px;
}

.info-content__desc {
    font-weight: 300;
    font-size: 25px;
}

.info-content__subdesc {
    font-size: 25px;
    color: #ab7631;
}

/*benefits*/

.benefits-desk {
    margin-top: 177px;
}

.benefits-desk .container {
    position: relative;
}

.benefits-mob {
    display: none;
}

.benefits-img__1 {
    position: absolute;
    top: -273px;
    left: 364px;
    opacity: 0.8;
}

.benefits-img__2 {
    position: absolute;
    top: 112px;
    left: -803px;
    opacity: 0.8;
}

.benefits-title {
    font-family: "Cormorant", serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 94%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #281500;
    margin-left: 1px;
}

.benefits-list {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

.benefits-list li {
    padding: 48px 0 57px 52px;
    border-top: 2px solid rgba(40, 21, 0, 0.1);
    font-weight: 400;
    font-size: 31px;
    line-height: 158%;
    letter-spacing: 0.02em;
    color: #281500;
    position: relative;
}

.benefits-list li p {
    opacity: 0.3;
}

.benefits-list li:hover p {
    color: #ab7631;
    opacity: 1;
}

.benefits-list li:last-child {
    border-bottom: 2px solid rgba(40, 21, 0, 0.1);
}

.benefits-hdn {
    opacity: 1 !important;
    display: none;
    position: absolute;
    top: 43px;
    left: 40%;
    font-weight: 400;
    font-size: 20px;
    line-height: 158%;
    letter-spacing: 0.02em;
    color: #ab7631;
    max-width: 587px;
}

.benefits-img {
    position: absolute;
    right: 6px;
    top: -59px;
    z-index: 100;
    display: none;
}

.benefits-list li:hover .benefits-hdn {
    display: block;
}

.benefits-list li:hover .benefits-img {
    display: block;
}

/*clients*/

.clients-desk {
    margin-top: 173px;
}

.clients-mob {
    display: none;
}

.clients-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
}

.clients-info {
    margin-top: 34px;
    max-width: 318px;
}

.clients-title {
    font-family: "Cormorant", serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 94%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #281500;
}

.clients-desc {
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #281500;
}

.clients-name {
    font-weight: 300;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #281500;
    margin-top: 106px;
    padding-top: 38px;
    position: relative;
}

.clients-name::before {
    position: absolute;
    width: 318px;
    height: 1px;
    content: '';
    top: 0;
    left: 0;
    background: #281500;
    opacity: 0.2;
}

/*contacts*/

.contacts-desk {
    margin-top: 170px;
    overflow: hidden;
}

.contacts-mob {
    display: none;
}

.contacts-wrapper {
    margin-top: 65px;
    position: relative;
    height: 783px;
}

.contacts-info {
    width: 360px;
    position: absolute;
    left: -111px;
    top: 58px;
    display: flex;
    gap: 33px;
    flex-direction: column;
}

.contacts-img {
    position: absolute;
    left: 359px;
    z-index: 100;
}

.contacts-map {
    position: absolute;
    left: 669px;
}

.contacts-title {
    font-family: "Cormorant", serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 94%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #281500;
    margin: 0 auto;
    text-align: center;
}

.contacts-subtitle {
    font-weight: 300;
    font-size: 48px;
    line-height: 94%;
    letter-spacing: 0.02em;
    text-align: right;
    color: #281500;
}

.contacts-desc {
    font-weight: 300;
    font-size: 25px;
    line-height: 157%;
    letter-spacing: 0.02em;
    text-align: right;
    color: #281500;
}

.contacts-tel {
    display: block;
    font-weight: 300;
    font-size: 25px;
    line-height: 157%;
    letter-spacing: 0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: right;
    color: #281500;
}

.contacts-wa {
    font-weight: 300;
    font-size: 25px;
    line-height: 157%;
    letter-spacing: 0.02em;
    text-align: right;
    color: #281500;
    position: relative;
}

.contacts-wa::before {
    content: url("images/wa.svg");
    position: absolute;
    right: 120px;
    top: 0;
    width: 24px;
    height: 24px;
}

.contacts-links {
    display: flex;
    gap: 26px;
    justify-content: end;
}

.contacts-links li {
    width: 52px;
    height: 52px;
    border-radius: 100%;
    /*background-color: #A89E93;*/
}


/*reviews*/

.reviews {
    margin-top: 162px;
}

.reviews-title {
    font-family: "Cormorant", serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 94%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #281500;
}

.reviews-list {
    margin-top: 56px;
    display: flex;
    gap: 10px;
}

.reviews-list li {
    width: 329px;
    height: 242px;
    background-color: #b5dcdc;
}

/*footer*/

.footer {
    margin-top: 180px;
    border: 1px solid rgba(254, 251, 247, 0.39);
    border-top-right-radius: 72px;
    border-top-left-radius: 72px;
    backdrop-filter: blur(20.899999618530273px);
    background: linear-gradient(90deg, rgba(248, 228, 198, 0.6) 0%, rgba(240, 213, 174, 0.6) 100%);
}

.footer .container {
    padding: 97px 65px 118px 68px;
}

.footer-block {
    display: flex;
    gap: 136px;
    padding-bottom: 56px;
    position: relative;
}

.footer-block::after {
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 1px;
    opacity: 0.5;
    background: #281500;
}

.footer-info {
    /*display: flex;*/
    padding-top: 5px;
}

.footer-tel {
    display: block;
    margin-top: 45px;
}

.footer-whats {
    display: block;
    margin-top: 9px;
    padding-left: 30px;
    position: relative;
    font-weight: 300;
    font-size: 16px;
    line-height: 157%;
    letter-spacing: 0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #281500;
}

.footer-whats::before {
    content: url(./images/wa.svg);
    position: absolute;
    left: 4px;
    top: 3px;
}

/*.footer-whats::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    left: 30px;*/
/*    width: 73px;*/
/*    height: 1px;*/
/*    bottom: 0;*/
/*    background: #281500;*/
/*    opacity: 0.5;*/
/*}*/

.footer-wrapper {
    display: flex;
    gap: 130px;
}

.footer-links {
    display: flex;
    gap: 105px;
}

.footer-title {
    font-weight: 300;
    font-size: 25px;
    line-height: 157%;
    letter-spacing: 0.02em;
    color: #281500;
}

.footer-list {
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 300;
    font-size: 16px;
    line-height: 157%;
    letter-spacing: 0.02em;
    color: #281500;
    opacity: 0.5;
}

.footer-img__list {
    display: flex;
    gap: 35px;
    margin-top: 15px;
}

.footer-desc {
    margin-top: 26px;
    font-weight: 300;
    font-size: 16px;
    line-height: 157%;
    letter-spacing: 0.02em;
    color: #281500;
    opacity: 0.5;
}

@media screen and (max-width: 768px) {

    body {
        background: #F2F0EB;
    }

    .container {
        max-width: 1350px;
        margin: 0 auto;
    }

    .main {
        position: relative;
    }

    /*header*/
    .header {
        display: none;
    }

    .header .container {
        width: 100%; /* Ширина контейнера равна ширине хедера */
        padding: 16px 33px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-list {
        display: flex;
        gap: 39px;
    }

    .header-list a {
        opacity: 0.4;
        font-weight: 300;
        font-size: 18px;
        line-height: 94%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #281500;
    }

    .header-list a:hover {
        opacity: 1;
        font-weight: 600;
        color: #281500;
    }

    .header-info {
        display: flex;
        gap: 25px;
        align-items: center;
    }

    .header-social {
        display: flex;
        gap: 25px;
    }

    .header-info__link {
        position: relative;
        padding: 12px 19px 12px 38px;
        background: #281500;
        width: 159px;
        font-weight: 300;
        font-size: 18px;
        line-height: 94%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #f1d9b7;
        border-radius: 54px;
    }

    .header-info__link::before {
        content: url("images/tel.svg");
        position: absolute;
        left: 15px;
        top: 12px;
    }

    .header-info__lang {
        font-weight: 300;
        font-size: 16px;
        line-height: 94%;
        letter-spacing: 0.02em;
        color: #281500;
        padding-right: 11.5px;
        position: relative;
        cursor: pointer;
    }

    .header-info__lang::after {
        content: url("images/arr.svg");
        right: 0;
        top: -3px;
        position: absolute;
    }


    /*main*/
    .main {
        background-image: url("images/main.png");
        max-width: 1840px;
        height: 1001px;
        margin: 0 auto 0;
        border-bottom-left-radius: 36px;
        border-bottom-right-radius: 36px;
        background-size: cover;
        width: 100%;
        background-position: center;
    }

    .main-title {
        font-weight: 400;
        font-size: 42px;
        line-height: 110%;
        text-align: center;
        color: #fefbf7;
        max-width: 382px;
        padding-top: 562px;
    }

    .main-link {
        margin: 77px auto 0;
        display: block;
        font-weight: 500;
        font-size: 18px;
        line-height: 94%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #f0eee8;
        backdrop-filter: blur(9.6091947555542px);
        background: rgba(255, 233, 200, 0.4);
        padding: 26.5px 40px;
        border: 0.46px solid rgba(254, 251, 247, 0.39);
        border-radius: 4597px;
        width: 420px;
    }

    /*about*/
    .about-desk {
        display: none;
    }

    .about-mob {
        display: block;
        margin-top: 91px;
    }

    .about-mob .container {
        max-width: 440px;
        position: relative;
        margin: 0 auto 0;
    }

    .about-mob-title {
        font-weight: 500;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: -0.02em;
        color: #281500;
        font-family: "Cormorant", serif;
        margin-top: 19px;
        padding-left: 5px;
        max-width: 401px;
    }

    .about-mob-desc {
        margin-top: 22px;
        font-weight: 300;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #281500;
        padding-left: 5px;
        max-width: 415px;
    }

    .about-mob-subtitle {
        font-weight: 500;
        font-size: 14px;
        line-height: 94%;
        letter-spacing: 0.02em;
        color: #281500;
        padding-left: 5px;
        margin-top: 26px;
    }

    .about-mob-img {
        position: absolute;
        top: 39px;
        left: 213px;
    }

    .about-mob-link {
        position: relative;
        margin-top: 39px;
        display: block;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 111%;
        text-transform: uppercase;
        color: #fcfcfc;
        box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
        background: #281500;
        border-radius: 99px;
        padding: 25px 22px;
        width: 440px;
        height: 70px;
    }

    .about-mob-link-arrow {
        position: absolute;
        right: 150px; /* отступ справа */
        top: 50%;
        transform: translateY(-50%);
    }

    /*services*/
    .services {
        margin-top: 96px;
    }

    .services .container {
        max-width: 442px;
    }

    .services-title {
        font-family: "Cormorant", serif;
        font-weight: 500;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: -0.02em;
        color: #281500;
    }

    .services-list {
        margin-top: 28px;
        display: flex;
        flex-wrap: wrap;
        gap: 16px 12px;
    }

    .services-list li {
        max-width: 215px;
        border: 1px solid rgba(40, 21, 0, 0.05);
        border-radius: 20px;
        background: #f1eee7;
    }

    .services-link {
        text-transform: uppercase;
        position: relative;
        padding-left: 20px;
        /*display: flex;*/
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #281500;
        max-width: 175px;
        margin-top: 24px;
        margin-bottom: 24px;
        text-decoration: none;
    }

    .services-link a {
        color: inherit;
        text-decoration: none;
    }

    .services-link a:hover {
        color: #ab7631;
    }

    .services-link svg {
        display: none;
    }

    .services-link:hover svg path {
        stroke: #ab7631; /* Изменение цвета стрелки при наведении */
    }

    .services-link:hover::before {
        content: '';
        position: absolute;
        width: 44px; /* Размер круга */
        height: 44px; /* Размер круга */
        background-color: rgba(171, 118, 49, 0.2); /* Цвет круга */
        border-radius: 50%; /* Делаем круг */
        top: 10px;
        right: -32px;
        transform: translate(-50%, -50%); /* Центрируем круг */
        z-index: -1; /* Помещаем круг под стрелку */
    }

    /*info*/
    .info-desk {
        display: none;
    }

    .info-mob {
        display: block;
        margin-top: 58px;
    }

    .info-mob .container {
        max-width: 442px;
        padding: 87px 28px 61px;
        background: #f6f4f1;
        opacity: 0.9;
        border-radius: 30px;
    }

    .info-mob .container img {
        display: block;
        margin: 34px auto 0;
    }

    .info-mob-title {
        font-weight: 500;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: -0.02em;
        text-align: center;
        color: #281500;
        font-family: "Comprant", serif;
    }

    .info-mob-desc {
        margin: 16px auto 0;
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ab7631;
        opacity: 0.7;
        max-width: 259px;
    }

    .info-mob-content {
        display: flex;
        gap: 22px;
        flex-direction: column;
        max-width: 377px;
        margin: 27px auto 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: -0.02em;
        color: #281500;
        font-family: "Comprant", serif;
    }


    /*benefits*/
    .benefits-desk {
        display: none;
    }

    .benefits-mob {
        display: block;
        margin-top: 60px;
    }

    .benefits-mob .container {
        max-width: 412px;
    }

    .benefits-mob-title {
        font-weight: 500;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        text-align: center;
        color: #281500;
        font-family: "Comprant", serif;
    }

    .benefits-mob-list {
        margin-top: 6px;
        display: flex;
        flex-direction: column;
    }

    .benefits-mob-list li {
        display: flex;
        gap: 28px;
        align-items: center;
        padding: 32px 0;
        border-bottom: 1px solid #c49f6f;
    }

    .benefits-mob-list li span:first-child {
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: -0.02em;
        text-align: center;
        color: #281500;
        font-family: "Comprant", serif;
        max-width: 125px;
        width: 100%;
    }

    .benefits-mob-list li span:nth-child(2) {
        font-weight: 400;
        font-size: 18px;
        line-height: 158%;
        letter-spacing: 0.02em;
        color: #281500;
    }

    /*clients*/
    .clients-desk {
        display: none;
    }

    .clients-mob {
        display: block;
        margin-top: 101px;
    }

    .clients-mob .container {
        max-width: 430px;
    }

    .clients-mob-title {
        font-size: 36px;
        font-weight: 500;
        line-height: 94%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        text-align: center;
        color: #281500;
        font-family: "Comprant", serif;
    }

    .clients-mob-content {
        margin-top: 30px;
        background: #f6f4f0;
        opacity: 0.9;
        border-radius: 30px;
        padding: 32px 35px 39px;
    }

    .clients-mob-wrapper {
        display: flex;
        gap: 56px;
    }

    .clients-mob-wrapper img {
        display: block;
        margin-top: 4px;
    }

    .clients-mob-name {
        font-weight: 400;
        font-size: 24px;
        line-height: 158%;
        letter-spacing: 0.02em;
        color: #281500;
    }

    .clients-mob-profession {
        font-weight: 400;
        font-size: 18px;
        line-height: 158%;
        letter-spacing: 0.02em;
        color: #281500;
        opacity: 0.6;
    }

    .clients-mob-desc {
        font-weight: 400;
        font-size: 18px;
        line-height: 158%;
        letter-spacing: 0.02em;
        color: #281500;
        margin-top: 30px;
    }

    /*contacts*/
    .contacts-desk {
        display: none;
    }

    .contacts-mob {
        display: block;
        margin-top: 147px;
    }

    .contacts-mob-title {
        font-weight: 500;
        font-size: 36px;
        line-height: 94%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        text-align: center;
        color: #281500;
        font-family: "Comprant", serif;
    }

    .contacts-mob-content {
        padding: 40px 32px;
        background: #f6f4ef;
        border-radius: 20px;
    }

    .contacts-mob-wrapper {
        padding: 0 1.5px;
        margin-top: 36px;
    }

    .contacts-mob-wrapper h3 {
        font-weight: 300;
        font-size: 40px;
        line-height: 94%;
        letter-spacing: 0.02em;
        color: #281500;
    }

    .contacts-mob-desc {
        font-weight: 300;
        font-size: 16px;
        line-height: 157%;
        letter-spacing: 0.02em;
        color: #281500;
    }

    .contacts-mob-address {
        width: 383px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    .contacts-mob-info {
        font-weight: 300;
        font-size: 16px;
        line-height: 157%;
        letter-spacing: 0.02em;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #281500;
    }

    .contacts-mob-info a {
        display: block;
    }

    .contacts-mob-list {
        display: flex;
        gap: 13.5px;
        margin-top: 20px;
    }

    .contacts-mob-list li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 51px;
        height: 51px;
        border-radius: 100%;
        background: #c5baad;
    }

    .contacts-mob-list li:last-child {
        font-weight: 300;
        font-size: 16px;
        line-height: 157%;
        letter-spacing: 0.02em;
        color: #ebe8e2;
        background: #a89e93;
        width: 135px;
        border-radius: 99px;
    }

    .contacts-mob-list li:last-child a{
        position: relative;
        padding-left: 42px;
    }

    .contacts-mob-list li:last-child a svg {
        position: absolute;
        left: 10px;
        top: 4px;
    }

    /*reviews*/
    .reviews {
        margin-top: 162px;
    }

    .reviews-title {
        font-family: "Cormorant", serif;
        font-weight: 500;
        font-size: 64px;
        line-height: 94%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        text-align: center;
        color: #281500;
    }

    .reviews-list {
        margin-top: 56px;
        display: flex;
        gap: 10px;
    }

    .reviews-list li {
        width: 329px;
        height: 242px;
        background-color: #b5dcdc;
    }

    /*footer*/

    .footer-desk {
        display: none;
    }

    .footer-mob {
        display: block;
        background: #CDBBA3;
        padding: 52px 40px 74px;
    }
}